html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  background: #F9C54B url(../images/fundo-laranja-pontilhado.jpg) repeat center top;
}

ol, ul {
  list-style: none;
}

body {
  color:white;
  font-size:12px;
  font-family: 'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
  font-weight: 100;
}

body .wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
}

body p {
  text-shadow: 0 1px 1px white;
  color: #62666C
}

h1 {
  color: #4C4C4C;
  font-size: 35px;
  text-shadow: 1px 1px white;
}


h1.section_title {  
  margin: 25px 0 50px 0;
}


.text_black {
  color: black;
}

.text_red {
  color: #9C180C;
}



/********* SITE_MENU_AREA **********/
#site_menu {
  width: 460px;
  display: block;
  float: left;
  margin-top: 10px;
  margin-left: 95px;
  font-family: "ff-dax-web-pro-1","ff-dax-web-pro-2",Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 105px;
  font-weight: bold;
}

#site_menu ul li {
  float: left;
  list-style: none;
}

#site_menu ul li.current {
  margin: 0px;
  height: 65px;
  background: url(../images/selected.png) no-repeat scroll center center transparent;
}

#site_menu ul li a {
  padding: 5px 10px 5px 10px;
  color: #ed7625;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

#site_menu ul li.current a {
  color: #fff;
}


/********* HOME_AREA **********/
#header {
  margin: 0px;
  position: fixed;
  width: 100%;
  min-width: 940px;
  top: 0px;
  height: 37px;
  background-color: #000;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px 0;
  /*border-bottom: 1px solid #FA1; */
  z-index: 999;
}

body #home{
  padding-top: 60px;
  height: 600px;
}

#home h1.slogan {
  color: #fff;
  font-size: 100px;
  text-shadow: 2px 2px #FFDF80;
  font-weight: bold;
  line-height: 120px;

}

#home h2 {
  color: #7f1a11;
  font-size: 18px;
  line-height: 30px;
  margin: 35px 0 10px;
  text-shadow: 0 1px 0 #FFDF80;
  font-weight: 200;
  word-spacing: 0.1em;
}

#home a {
  font-size: 18px;
  color: #000;
}

#home a:hover {
  text-shadow: 0 0 8px rgba(255,255, 255, 2);
  color: blue;
}

/********* CLIENTES_AREA **********/
body #clientes{
  padding-top: 60px;  
  height: 600px;  
  background:url(../images/fundo-cinza-claro.jpg) repeat fixed center top #d7d6d5;
}
#clientes_top {
  background: url(../images/topo-clientes.jpg) repeat-x center top;
  height: 9px;
}

	/* Clients Showcase list */
	#clientes-list {
	  list-style: none outside none;
	  margin-top: 20px;
	  width: 960px;  
	}

	#clientes_wrapper_info ul li {
	  display: inline;
	  float: left;
	  height: 155px;
	  width: 320px;
	}

	#clientes_wrapper_info ul li img {
	  display: block;
	}


/********* PORTIFOLIO_AREA **********/
body #portifolio {
  padding-top: 60px;  
  background-color: #ebece6;
}

#portifolio_top {
  background: url(../images/topo-listras-degrade.jpg) repeat-x center bottom;
  height: 10px;
}
	/* Portifolio Showcase list */
	#portifolio_showcase_info p{
	  padding-top: 5px;
    word-spacing: 0.1em;
	  clear:left;
    font-weight: 200;
	}

	#portfolio-list {
	  list-style: none outside none;
	  margin-top: 20px;
	  width: 960px;  
	}

	#portifolio_showcase_info ul li {
	  display: inline;
	  float: left;
	  height: 335px;
	  width: 320px;
	}

	#portifolio h3.portfolio_title_small {
	  font-weight: bold;
	  color: #151515;
	  text-transform:uppercase;
	  text-shadow: 0 1px 0 #FFF;
	}
	
	ul#portfolio-list li section {
	  display: block;
	  height: 280px;
	  margin-left: 5px;
	  padding: 10px 10px 30px 0;
	  text-align: left;
	  width: 285px;
	}
	
	ul#portfolio-list li p.portifolio_tags {
	  font-weight: bold;
	  color: #A0A0A0;
	  text-transform:uppercase;
	  text-shadow: 0 1px 1px #fff;
	  font-size: 10px;
	  padding-top: 5px;
	}
	
	ul#portfolio-list li section a {
	  font-weight: bold;
	  color: #000;
	  font-style: italic;
	  text-shadow: 0 1px 1px white;
	}

	ul#portfolio-list li section a:hover {
	  color: #7f1a11;
	}
	
	
/********* CONTATO_AREA **********/
body #contato {
  padding-top: 20px;  
  background-color: #FAC74D;
  height: 320px;  
  background: url(../images/fundo-laranja-pontilhado.jpg) repeat center top;
}

#contato_top {
  background: url(../images/topo-sombra-transparente.png) repeat-x scroll center top transparent;
  height: 17px;  
}

#contato h1.section_title {
  color: #AC5509;
}

#contato p {
  font-size: 23px;
  color: #000;
  text-shadow: 0 1px 1px white;
  display: block;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 33px;
}

#contato a {
  font-weight: bold;
  color: #000;
}

#contato a:hover {
  color: #fff;
}

#contato ul {
    color: #000;
    font-size: 15px;
    line-height: 30px;
	font-weight: bold;
    margin-top: 25px;
    text-shadow: 1px 1px 1px #FFE882;
	word-spacing: 10px;
}

#contato ul li span {
	color: #E28F00;
}



/********* FOOTER_AREA **********/
body #footer {
  padding-top: 10px;  
  background-color: black;
  height:40px;
}

#footer_top {
  background-attachment: scroll;
  background: url(../images/topo-rodape.png) repeat-x center top;
  height: 29px;
}

#footer p {
  color: #c1c1c1;
  text-shadow: 0 0px 1px #f1f1f1;
  font-size: 9px;
}

/********* EFFETCS **********/
.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

